<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConnectAI</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="brand-name text-center my-4">
        <img src="/static/logo.jpg" alt="ConnectAI Logo" class="brand-logo" />
      </div>
      {% block content %} {% if page == 'login' %}
      <div>
        <form method="POST" action="">
          {% csrf_token %}
          <div>
            <label for="username">Username:</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control"
              placeholder="Enter Username"
            />
          </div>
          <div>
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <div>
            <button type="submit" class="btn btn-primary mt-3">
              <i class="fas fa-sign-in-alt"></i> Login
            </button>
          </div>
          <p class="mt-3">Haven't already signed up?</p>
          <a href="/register/" class="mb-4"
            ><i class="fas fa-user-plus"></i> Sign Up</a
          >
        </form>
      </div>
      {% else %}
      <div class="outer-container">
        <div class="form-container">
          <h2><i class="fas fa-user-plus"></i> Register</h2>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
              <label for="id_username">Username:</label>
              {{ form.username }} {% if form.username.errors %}
              <div class="error">{{ form.username.errors.0 }}</div>
              {% endif %}
            </div>

            <div class="form-group">
              <label for="id_email">Email:</label>
              {{ form.email }} {% if form.email.errors %}
              <div class="error">{{ form.email.errors.0 }}</div>
              {% endif %}
            </div>

            <div class="form-group">
              <label for="id_password1">Password:</label>
              {{ form.password1 }} {% if form.password1.errors %}
              <div class="error">{{ form.password1.errors.0 }}</div>
              {% endif %}
            </div>

            <div class="form-group">
              <label for="id_password2">Confirm Password:</label>
              {{ form.password2 }} {% if form.password2.errors %}
              <div class="error">{{ form.password2.errors.0 }}</div>
              {% endif %}
            </div>

            <div class="form-group">
              <label for="id_catchy_line">One Catchy Line About You:</label>
              {{ form.catchy_line }} {% if form.catchy_line.errors %}
              <div class="error">{{ form.catchy_line.errors.0 }}</div>
              {% endif %}
            </div>

            <div class="form-group">
              <label for="id_avatar">Profile Picture:</label>
              {{ form.avatar }} {% if form.avatar.errors %}
              <div class="error">{{ form.avatar.errors.0 }}</div>
              {% endif %}
            </div>

            <button type="submit" class="btn btn-register">
              <i class="fas fa-user-plus"></i> Register
            </button>
          </form>
        </div>
      </div>
      {% endif %} {% endblock content %}
    </div>
  </body>
</html>
